#title{
    display: flex;
    justify-content: center;
}

#pokemon-imgs-container{
    display: flex;
    justify-content: center;
}

#randomize-btn-container{
    display: flex;
    justify-content: center;
}