#profile-header-container{
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    border-radius: 18px;
    height: 70vmin;
    width: 80vmin;
    position: relative;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#cover-photo-img{
    height: 20vmin;
    width: 82vmin;
    position: absolute;
    top: 0;
    z-index: 1;
}

.edit-btn{
    height: 35px;
    width: 35px;
    border: 1px solid blue;
    border-radius: 50%;
    z-index: 10;
    background-color: aliceblue;
}

#profile-photo-img{
    position: absolute;
    top: 10%;
    left: 4%;
    border: 6px solid white;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    z-index: 5;
}

.profile-card-edit-btn{
    position: absolute;
    top: 4%;
    right: 4%;
}

#name-and-verified-symbol-container{
    border: 2px solid yellow;
    height: 4vmin;
    width: 25vmin;
    display: flex;
    justify-content: start;
    position: absolute;
    top: 44%;
    left: 4%;
    align-items: center;
}
#name{
    font-size: 150%;
    font-weight: 500;
    height: 40px;
    width: 140px;
    margin-top: 30px;
}
#verified-symbol{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: -30px;
}

#occupation-and-area-info{
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 49.5%;
    left: 4%;
    height: 8vmin;
    width: 37vmin;
    border: 2px solid blue;
}

#job-title{
    margin: 0;
    padding: 0;
    font-size: 125%;
    font-weight: 100;
}

#address-line{
    margin: 2px;
    padding: 0;
    font-weight:100;
}

#connections{
    margin: 2px;
    padding: 0;

}

#education-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    top: 44%;
    left: 52%;
    height: 10vmin;
    width: 28vmin;
    border: 2px solid green;
}

#education-container-top-row{
    margin: 0;
    display: flex;
    align-items: center;
}

#education-container-bottom-row{
    margin: 2px 0;
    display: flex;
    align-items: center;
}

#education-exp-1-img{
    margin: 0;
    height: 40px;
    width: 40px;
}


#education-exp-1{
    margin: 2px 12px;
    padding: 0;
}

#education-exp-2-img{
    margin: 0;
    height: 40px;
    width: 40px;
}

#education-exp-2{
    margin: 2px 12px;
    padding: 0;
}

#btn-bar-container{
    display: flex;
    align-items:center;
    margin: 0;
    border: 2px solid orange;
    height: 5vmin;
    width: 66vmin;
    top: 62%;
    left: 4%;
    position: absolute;
}

#open-to-btn{
    border: none;
    background-color: rgb(32, 127, 243);
    color: rgb(232, 229, 229);
    margin: 0 4px 0 0;
    height: 30px;
    width: 90px;
    border-radius: 16px;
    font-size: 110%;
    font-weight: 400;
}

#add-profile-btn{
    margin: 0 4px;
    color: rgb(32, 127, 243);
    border: 1px solid rgb(32, 127, 243);
    border-radius: 16px;
    height: 30px;
    width: 170px;
    background-color: transparent;
    font-size: 110%;
    font-weight: 400;
}

#enhance-profile-btn{
    margin: 0 4px;
    color: rgb(32, 127, 243);
    border: 1px solid rgb(32, 127, 243);
    border-radius: 16px;
    height: 30px;
    width: 150px;
    background-color: transparent;
    font-size: 110%;
    font-weight: 400;
}

#more-button{
    border: 1px solid rgb(44, 43, 43);
    background-color: transparent;
    color: rgb(44, 43, 43);
    margin: 0 4px 0 0;
    height: 30px;
    width: 75px;
    border-radius: 16px;
    font-size: 110%;
    font-weight: 400;
}

#open-to-work-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 310px;
    position: absolute;
    border: 2px solid green;
    top: 71%;
    left: 4%;
}

#showcase-services-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 310px;
    position: absolute;
    border: 2px solid hotpink;
    top: 71%;
    left:52%;
}

