@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
    0% {
        background-position: -200% -200%;
    }
    100%{
        background-position: 200% 200%;
    }
}

.animate-shine {
    background-size: 400% 400%;
    animation: shine 8s infinite linear;
}

.holographic-overlay {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
    );
}

.card-background {
    background: linear-gradient(135deg, rgba(91, 0, 83, 0.721), rgba(0, 242, 255, 0.634));
}
