@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
    0% {
        background-position: -100%;
    }
    100%{
        background-position: 100%;
    }
}

.animate-shine {
    background-size: 200%;
    animation: shine 3s infinite linear;
}

.holographic-overlay {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
    );
}
